@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lato&family=Ubuntu:ital,wght@0,500;1,500&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header{
  height:70px;
  background: linear-gradient(rgba(217, 28, 28, 0.728),orange);
  color:white;
  padding:10px 0px 10px 50px;
  border:1px solid yellow;
  font-family: 'Lato', sans-serif;


}
.card-container{
  height:100%;
  background:repeating-radial-gradient(orange,transparent,transparent 45%);
   display: flex; 
  flex-wrap: wrap;
  padding-inline:40px;
  padding-block:50px; 

  /* row-gap: 10px; */

}
.card{
  width:250px;
  height:fit-content;
  margin-left:30px;
  margin-bottom:25px;
  border-radius:5px;
  padding:20px 15px;
  background-color: white;
  box-shadow: 10px 8px 2px 7px grey;
  color:black;
  border:1px solid black;
  display: flex; 
  flex-direction: column; 
  text-align: center;
  align-items: center; 
  font-family: 'Lato', sans-serif;

}